/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;

}

header > div{
    display: grid;
    grid-template-columns: 40% 55%;
    grid-template-areas: 
        "title links";
    background-color: white;
    font-size: 18px;
}

header h1{
    justify-content: left;
    vertical-align: middle;
    align-items: center;
    
}


ul{
    grid-area: links;
    list-style: none;
    display:flex;
    flex-direction: horizontal;
    justify-content: right;
    align-content: top;
    padding-inline-start: 20px;

}

li{
    display:flex;
    padding:5px;
    

}

nav{
    display:flex;
    justify-content: right;
}

nav a{
    color:#6b7280;
    text-decoration: none;
}
nav a:hover{
    color:#5a67d8;
}

h1{
    font-size: 18px;
    display: flex;
    align-content: center;
    text-align: center;
    vertical-align: middle;
}

.learn-about h2{
    font-size: 24px;
    color: #48bb78;
    padding-left: 55px;
}

.learn-about h3{
    color:#48bb78;
    font-size: 21px;
}

.overview-hero{
    background-color: #e2e8f0;
    display:grid;
    padding:40px;

}
.overview-hero > div{
    display:grid;
    grid-template-columns: 30% 60%;
}

.overview-hero img{
    width:170px;
    height: 130px;
    align-content: center;
    
}

.overview-hero-image{
    display:flex;
    justify-content: right;
    align-content: right;
    align-items: center;
    padding:5px;
    padding-right: 5px;
    
}

.overview-hero-text{
    padding-left:30px;
}

.cards{
    display:grid;
    grid-template-columns: 30% 30% 30%;
    padding:20px;
    margin:10px;
    border:20px;
    justify-content: space-evenly;
    padding-top: 5px;

}

.card{
    text-align: left;
    border:10px;
    padding:10px;
    border-color:#e2e8f0;
    border-radius: 5px;
    box-shadow:1px 1px 1px 1px #6b7280;
}

.card img{
    width:218px;
    height:170px
}

.card-body{
    text-align: left;
}

.testing{
    background-color: #4a5568;
    padding:50px;

}

.testing >.container{
    color: white;
    display:grid;
    grid-template-columns: 70% 30%;

}



.cta{
    display:flex;
    justify-content: center;
    align-items: center;
}
.cta a{
    color:white;
    text-decoration: none;
}
.cta .btn{
    background-color: #48bb78;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
}

.stories{
    padding: 30px;
    padding-top: 80px;
    display: flex;
}


.stories article{
    display:flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 10px;
}
.stories img{
    width:160px;
    height: 160px;
    border-radius: 50%;
    display: flex;
    
}
.stories h2{
    color: #5a67d8;
    margin: 0px;
}
.stories a{
    color: #5a67d8;
    text-decoration: none;
}
.stories h3{
    font-size: 18px;
}


   
.article-body{
    padding: 10px;
    padding-left: 30px;
}

.newsletter{
    display: flex;
    background-color: #48bb78;
    align-items: center;
    color: white;
    text-align: center;
}

.newsletter .container{
    margin-left: 30%;
    margin-right: 30%;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
}

.newsletter h3{
    text-align: center;
}
.newsletter p{
    text-align: left;
}

.newsletter form{
    display: flex;
    justify-content: left;
}

.newsletter .form-group{
    color: white;
    padding-right: 10px;

} 

.newsletter input{
    padding: 15px;
    padding-left:15px;
    padding-right:30px;
    width:220px;
    text-align: left;
    border-radius: 5%;
    border-style: none;
}

.newsletter .btn{
    display: flex;
    padding-right: 50px;
    padding-left: 50px;
    align-items: center;
    justify-content:right;
    border-radius: 5%;
    border-style: none;
    background-color: #5a67d8;
    color: white;
}

.message{
    padding-top: 20px;
}

footer{
    background-color: #4a5568;
    color: white;
    padding: 5px;
}